.straight {
  height: 30px;
  width: 200px;
  margin: 20px auto;
}

.brokenContainer {
  display: flex;
  height: 30px;
  width: 200px;
  justify-content: space-between;
  margin: 20px auto;
}

.brokenSegment {
  height: 100%;
  width: 33%;
}
